<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UXL Rich Text Editor</title>
    <script src="/demo/settings.js"></script>
    <!--<script type="module" src="../src/components/uxl-rich-text-editor/uxl-rich-text-editor.js"></script>-->
    <script>
        document.addEventListener('WebComponentsReady', function componentsReady() {
            document.removeEventListener('WebComponentsReady', componentsReady, false);

            var script = document.createElement('script');
            script.async = true;
            script.src = '<%= htmlWebpackPlugin.files.chunks["main"].entry %>';

            var refScript = document.body.getElementsByTagName('script')[0];
            refScript.parentNode.insertBefore(script, refScript);
        }, false);
    </script>
</head>
<body>
    <script defer src="<%= htmlWebpackPlugin.options.paths.webcomponents %>"></script>
    <!--<uxl-rich-text-editor id="rte-uxl" options="bold,italic,underline,strike,color,background,ol,ul,blockquote,code-block,subindex,superindex,outdent,indent,size,header,font,align,image"></uxl-rich-text-editor>-->
</body>
</html>